
@font-face {
    font-family: "IPAexGothic";
    src: url("../../fonts/IPAexfont00401/ipaexg.ttf") format("truetype");
}

@font-face {
    font-family: "IPAexMincho";
    src: url("../../fonts/IPAexfont00401/ipaexm.ttf") format("truetype");
}

@font-face {
    font-family: "IPAGothic";
    src: url("../../fonts/IPAfont00303/ipag.ttf") format("truetype");
}

@font-face {
    font-family: "IPAPGothic";
    src: url("../../fonts/IPAfont00303/ipagp.ttf") format("truetype");
}

@font-face {
    font-family: "IPAMincho";
    src: url("../../fonts/IPAfont00303/ipam.ttf") format("truetype");
}

@font-face {
    font-family: "IPAPMincho";
    src: url("../../fonts/IPAfont00303/ipamp.ttf") format("truetype");
}

@font-face {
    font-family: "IPAmjMincho";
    src: url("../../fonts/ipamjm00601/ipamjm.ttf") format("truetype");
}
