
@font-face {
    font-family: "IPAexGothic";
    src: local("IPAexGothic"), 
         url("../../fonts/IPAexfont00401/ipaexg.ttf") format("truetype");
}

@font-face {
    font-family: "IPAexMincho";
    src: local("IPAexMincho"), 
         url("../../fonts/IPAexfont00401/ipaexm.ttf") format("truetype");
}

@font-face {
    font-family: "IPAGothic";
    src: local("IPAGothic"), 
         url("../../fonts/IPAfont00303/ipag.ttf") format("truetype");
}

@font-face {
    font-family: "IPAPGothic";
    src: local("IPAPGothic"), 
         url("../../fonts/IPAfont00303/ipagp.ttf") format("truetype");
}

@font-face {
    font-family: "IPAMincho";
    src: local("IPAMincho"), 
         url("../../fonts/IPAfont00303/ipam.ttf") format("truetype");
}

@font-face {
    font-family: "IPAPMincho";
    src: local("IPAPMincho"), 
         url("../../fonts/IPAfont00303/ipamp.ttf") format("truetype");
}

@font-face {
    font-family: "IPAmjMincho";
    src: local("IPAmjMincho"), 
         url("../../fonts/ipamjm00601/ipamjm.ttf") format("truetype");
}
